body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
    user-select: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.menu-bar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.burger-menu {
    width: 30px;
    cursor: pointer;
}

.burger-menu .bar {
    width: 60%;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.menu-container.open {
    max-height: 150px; /* Adjust based on content */
}

#menu-options {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#menu-options li {
    margin: 5px 0;
}

#menu-options li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.bands-container {
    display: flex;
    flex-direction: column; /* Arrange items in a vertical line */
    align-items: center; /* Center items horizontally */
    margin-top: 100px;
    padding: 20px; /* Add padding to the container */
    height: calc(100vh - 150px); /* Adjust height for the custom scrollbar */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* For Firefox */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Custom scrollbar styles */
.bands-container::-webkit-scrollbar {
    width: 4px; /* Set to a very small width for the scrollbar */
}

.bands-container::-webkit-scrollbar-track {
    background: transparent; /* Track color */
    border-radius: 10px; /* Rounded track */
}

.bands-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
}

.bands-container::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}
