/* General body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0C0C0C; /* Background color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Important for centering */
  user-select: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0C0C0C;
  z-index: -1; /* Ensure particles stay behind the content */
}

.container {
  max-width: 800px;
  width: 100%; /* Make the container responsive */
  margin: auto;
  padding: 20px;
  background-color: #001F33; /* Bottom container color */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the contents horizontally */
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.avatar img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.languages, .about-me {
  margin: 10px 0;
  color: #0094FF; /* Text color */
}

.video-player {
  margin-top: 20px;
  text-align: center;
}

.video-player video {
  width: 85%;
  max-width: 800px;
  border-radius: 10px;
}

/* Force center everything inside the container */
h1, h2, p {
  margin: 0 auto;
  text-align: center;
}
/* Change color of the main heading */
h1 {
  color: #0094FF; /* Change "Astrid" text color */
}

/* Loading Screen Styles */
#loadingScreen {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0C0C0C; /* Semi-transparent background */
  color: #FFFFFF; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it covers other content */
  flex-direction: column;
}

.loading-text {
  font-size: 2rem; /* Adjust font size as needed */
  letter-spacing: 0.5rem; /* Space out the letters */
}

